PhonesData/PhonesData.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad/UserInterfaceState.xcuserstate
PhonesData/PhonesData.xcodeproj/xcuserdata/apple.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
PhonesData/PhonesData.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/xcschememanagement.plist
